@CHARSET "UTF-8";
.attribute-library {
	width: 350px;
	border-radius: 4px;
	background: #eee;
	padding: 25px;
	margin: 15px;
	position: fixed; 
}
.attribute-library .attribute-library-item {
	padding:5px;
	background: #bbb;
	cursor:pointer;
	height:32px;
	line-height:32px;
	border-radius: 4px 4px 4px 4px;
	margin-top:5px;
	box-shadow: 1px 1px 1px #777777;
}
.attribute-library-item span{
	height:32px;
	width:32px;
	display:block;
}
.attribute-library-itemfrom{
	background: #EEEEEE;
	height:32px;
	line-height:32px;
}
.attribute-library-itemfrom span{
	height:32px;
	width:32px;
	display:block;
}
.attribute-library-item:hover{
	box-shadow: -1px -1px 1px #777777;
}
.attribute-current {
	width: 420px;
	float:left;
	margin-top:15px;
	margin-left:520px;
	background: #bbb;
	border-radius: 4px 4px 4px 4px;	
}

.attribute-current div.solid {
	padding: 5px;
	border: 1px solid transparent;
	border-radius: 4px;
	margin: 5px 0;
}

.attribute-current div.solid:hover {
	border: 1px dashed #777;
}

.attribute-current div.element-label {
	width: 400px;
}

.attribute-current div.element-label a {
	display: block;
	font-weight: bold;
	padding: 8px;
	cursor: pointer;
	background: #f0f0f0;
	border-radius: 2px;
}

.attribute-current div.element-label a:hover {
	background: #e0e0e0;
}

.attribute-current div.element {
	font-weight: bold;
	padding: 2px 0;
}

.attribute-current div.element textarea {
	width: 300px;
}

.attribute-current div.element-desc {
	font-size: smaller;
	padding: 2px 0;
}
.css{
	background: url("mini-icons.png") no-repeat scroll -176px -96px transparent;
}