#body_head {
	margin-top: 29px;
}
.toolbar {
	position: fixed;
	z-index: 997;
	top: 0;
	left: 0;
	width: 100%;
	height: 28px;
	border-bottom: 1px solid #ffa500;
	box-shadow: 0 3px 6px #777;
	overflow: hidden;
	background-color: #777;
}
.toolbar .main {
	height: 28px;
	width: 100%;
	background: #333333;
	font-size: 11px;
	font-family: '微软雅黑', '黑体';
	margin: 0;
	padding: 0;
}
.toolbar .main ul {
	padding: 5px 15px 0 15px;
	margin: 0;
}
.toolbar .main ul.left {
	float: left;
}
.toolbar .main ul.right {
	float: right;
}
.toolbar .main li {
	display: block;
	float: left;
	margin: 0 2px;
}
.toolbar .main li a {
	display: block;
	color: white;
	padding: 4px 12px;
	background-color: #333333;
	border-radius: 10px;
	text-decoration: none;
}
.toolbar .main li a:hover {
	background-color: #666;
}
.toolbar .sub {
	width: 100%;
	color: white;
	margin: 0;
	padding: 5px 10px;
}

.toolbar .sub .sprite-type {
	padding: 8px 0;
	margin: 2px;
	float: left;
	background-color: #87CB53;
	width: 120px;
	text-align: center;
	cursor: pointer;
	border-radius: 2px;
	font-size: small;
}

.toolbar .sub #save-sprite-layout {
	margin: 5px;
	width: 80px;
}
/***********************/
/***********************/
/*********Boxes*********/
/***********************/
/***********************/
.blackbox {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 998;
	top: 0;
	left: 0;
	background: black;
	opacity: 0.5;
	display: none;
}
.whitebox {
	position: absolute;
	top: 0px;
	left: 0;
	z-index: 999;
	display: none;
	width: 100%;
}
.whitebox .closer {
	position: absolute;
	top: 0px;
	left: 97%;
	width: 24px;
	height: 30px;
	margin: 0;
	padding: 0;
	float: none;
	border-radius: 0 4px 4px 0;
	box-shadow: 0 0 5px #FFF;
	background: url('../image/closer.png') no-repeat 2px 5px white;
	cursor: pointer;
}
.whitebox .closer:hover {
	background-color: #f0f0f0;
}
.whitebox .content {
	width: 94%;
	min-height: 350px;
	margin: 0 auto;
	border: none;
	border-radius: 4px 0 4px 4px;
	box-shadow: 0 0 5px #FFF;
	background: white;
}