ul.tab-handle {
	padding-left: 10px;
	width:360px;
	height:26px;
	z-index: 8;
	background: transparent;
}
ul.tab-handle li.handle {
	width:100px;
	height:25px;
	line-height:23px;
	text-align:center;
	float:left;
	border: 1px solid #777;
	border-bottom: none;
	margin-right:5px;
	border-radius: 2px;
	cursor:pointer;
}
ul.tab-handle li.current {
	background: #f9f9f9;
	box-shadow: 0 0 4px #777;
}

ul.tab-content {
	z-index: 9;
	position: relative;
	top: -2px;
}

ul.tab-content li.content-item {
	width: 90%;
	min-height: 500px;
	position: relative;
	top: 0;
	left: 0;
	border-radius: 2px;
	box-shadow: 0 0 4px #777;
	display: none;
	background: #f9f9f9;
	padding: 15px;
	border: 1px solid #777;
	overflow: auto;
}
ul.tab-content li.current {
	display: block;
	z-index: 1;
}
ul.tab-content li.handle-overlap {
	position: absolute;
	display: block;
	width: 100px;
	height: 6px;
	top: -5px;
	left: 11px;
	z-index: 2;
	background: #f9f9f9;
}
ul.tab-content dl.admin-zendform {
	
}
ul.tab-content dl.admin-zendform dt {
	float: left;
	width: 100px;
	clear: both;
	margin-top: 5px;
	font-weight: bold;
	padding-top: 2px;
	padding-left: 5px;
}
ul.tab-content dl.admin-zendform dd {
	float: left;
	width: 680px;
	margin-top: 5px;
	margin-bottom: 5px;
	min-height: 25px;
}
ul.tab-content dl.admin-zendform dd ul.errors li {
	border: 1px solid #9F6000 !important;
	background-color: #FEEFB3 !important;
	color: #9F6000 !important;
	margin: 4px 0;
	padding: 4px;
	border-radius: 2px;
}
ul.tab-content dl.admin-zendform p.description {
	font-size: smaller;
}
ul.tab-content dl.admin-zendform dd textarea{
	width: 680px;
}
ul.tab-content dl.admin-zendform dd #introicon {
	cursor: pointer;
	border: none;
	border-bottom: 1px dotted black;
	background: transparent;
	padding: 2px 5px;
	width: 280px;
}
ul.tab-content dl.admin-zendform dd .icon-display {
	display: block;
	width: 100px;
	height: 100px;
}