@CHARSET "UTF-8";
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

body {
	font-family: '微软雅黑', '宋体', 'helvetica', 'Arial';
	font-size: 12px;
	color: #333;
	height: 100%;
	width: 100%;
}

a {
	text-decoration: none;
	color: #666666;
}

a:hover {
	text-decoration: underline;
}

.clear {
	clear: both;
}

.separator {
	height: 18px;
	margin: 5px 0;
	width: 940px;
	border: none;
	background: url('../image/separator.gif');
	clear: both;
}

/*
 * ajax related
 */
.ajax-response {
	display: none;
	position: fixed;
	
	background-color: #fff;
	border: 5px solid #A5D8F5;
	width: 400px;
	height: 150px;
	left:50%;
	top:50%;
	margin-left: -200px!important;/*FF IE7 */
	margin-top: -75px!important;/*FF IE7 */
	margin-top: 0px;
	position: fixed!important;/* FF IE7*/
	position: absolute;/*IE6*/
	z-index: 1000;
	_top:       expression(eval(document.compatMode &&
				document.compatMode=='CSS1Compat') ?
				-document.body.offsetHeight + documentElement.scrollTop + (this.offsetHeight + document.documentElement.clientHeight)/2:/*IE6*/
				document.body.scrollTop - (document.body.clientHeight + this.clientHeight)/2);/*IE5 IE5.5*/
}

.ajax-response .product-info {
	padding: 5px;
	height: 90px;
	line-height: 2em;
}

.ajax-response .check-cart {
	width: 176px;
	height: 45px;
	background: url('../image/user-action-button.gif') 0 -225px no-repeat;
	margin: 0 15px;
	display: block;
	float: left;
}

.ajax-response .continue {
	width: 128px;
	height: 45px;
	margin: 0 5px;
	background: url('../image/user-action-button.gif') 0 -180px no-repeat;
	float: right;
	cursor: pointer;
}

.closer {
	width: 40px;
	height: 40px;
	float: right;
	margin: 5px;
}

#ajax-loader img {
	display: block;
	float: left;
	margin-top: 46px;
	margin-left: 30px;
}

#ajax-loader .text {
	display: block;
	float: left;
	margin-top: 50px;
	margin-left: 20px;
	font-size: large;
	font-weight: bold;
}
/*
 * .alpha-filter
 */
.alpha-filter {
	background-color: #f0f0f0;
	display:none;
	width: 100%;
	height: 100%;
	left:0;
	top:0;/*FF IE7*/
	filter:alpha(opacity=30);/*IE*/
	opacity:0.3;/*FF*/
	z-index:10;
	position:fixed!important;/*FF IE7*/
	position:absolute;/*IE6*/
	_top:       expression(eval(document.compatMode &&
				document.compatMode=='CSS1Compat') ?
				documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
				document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);/* www.fengfly.com IE5 IE5.5*/
}