.navi-draw{overflow:hidden;position: relative;}
.navi-main  li{width:125px;height:100px; float:left;margin-right:5px;padding:0;text-align:center; display:block;background:url(navidraw.png) repeat 0 0}