@CHARSET "UTF-8";
.element-library {
	width: 350px;
	border-radius: 4px;
	background: #eee;
	padding: 25px;
	margin: 15px;
	position: fixed;
}
.element-library .element-library-item {
	padding: 10px;
	background: #bbb;
	cursor: crosshair;
}
.element-current {
	width: 420px;
	margin-left: 450px;
	background: #bbb;
}
ul.form-editor {
	padding: 15px 0;
}

ul.form-editor li.element-dropable {
	padding: 15px;
	border-radius: 2px;
}

ul.form-editor li.solid {
	padding: 5px;
	border: 1px solid transparent;
	border-radius: 4px;
}

ul.form-editor li.solid:hover {
	border: 1px dashed #777;
}

ul.form-editor div.element-label {
	width: 400px;
}

ul.form-editor div.element-label a {
	display: block;
	font-weight: bold;
	padding: 8px;
	cursor: pointer;
	background: #f0f0f0;
	border-radius: 2px;
}

ul.form-editor div.element-label a:hover {
	background: #e0e0e0;
}

ul.form-editor div.element {
	font-weight: bold;
	padding: 2px 0;
}

ul.form-editor div.element-desc {
	font-size: smaller;
	padding: 2px 0;
}