.toolbar {position: fixed; z-index: 999; top: 0; left: 0; height: 51px; width: 100%; font-size: 11px; box-shadow: 0 2px 6px #777;}
.toolbar a {text-decoration: none; color: white;}
.toolbar .main {height: 28px; width: 100%; background: #333333;}
.toolbar .sub {height: 22px; width: 100%; background: #777; color: white; border-bottom: 1px solid #ffa500;}

.toolbar .main ul.left {
	float: left;
	padding: 5px 5px 0 5px;
	margin: 0;
	width: 820px;
}
.toolbar .main ul.right {
	float: right;
	padding: 5px 15px 0 15px;
	margin: 0;
}

.toolbar .main li.root {display: block; float: left;}
.toolbar .main li.root a.root {display: block; padding: 4px 8px 0 8px; border-radius: 4px 4px 0 0; height: 23px; padding-left: 6px;}
.toolbar .main li.root:hover a.root {background-color: #777;}
.toolbar .main li.root div.text {float:left;}
.toolbar .main li.root div.arrow {float:left; border: none; margin-top: 2px;}

.toolbar .main ul li ul.child {
	display: none;
	margin: 0;
	padding: 0;
}

.toolbar .main ul li:hover ul.child {
	display: block;
	background-color: #333333;
}

.toolbar .main ul li ul.child li a {
	display: block;
	color: white;
	padding: 4px;
	text-decoration: none;
}