.loading-box {
	width: 200px;
	height: 30px;
	line-height: 30px;
	position: fixed;
	right: 28px;
	bottom: -80px;
	padding: 10px 0 10px 50px;
	background: url('../load.gif') no-repeat 10px 10px;
	border-radius: 4px;
	z-index: 1002;
}

.hint-box {
	width: 260px;
	min-height: 32px;
	line-height: 30px;
	position: fixed;
	top: 57px;
	right: -300px;
	padding: 10px;
	border-radius: 4px;
}
.hint-box .icon {
	width: 32px;
	height: 32px;
	float: left;
	background: url('../32-icons.png') no-repeat -256px 0px;
}
.hint-box .content {
	float: left;
	width: 200px;
	line-height: 16px;
	margin-left: 10px;
}

.mask-box {
	opacity:0.5;
	background:#cccccc;
	display:none;
	position:fixed;
	top:0px;
	z-index: 1000;
}

.mask-inner-editor {
	width:480px;
	padding: 10px;
	position:fixed;
	display:none;
	min-height:300px;
	background:#ffffff;
	border:10px solid #BBBBBB;
	border-radius:4px 4px 4px 4px;
	z-index: 1001;
}
.mask-inner-editor-close {
	display:none;
	position:fixed;
	cursor:pointer;
	z-index: 1001;
	width: 16px;
	height: 16px;
	background: url('../mini-icons.png') -96px -128px;
}
.mask-inner-editor div.editor-title {
	padding: 8px 0;
	font-size: larger;
	border-bottom: 2px solid #777;
}
.mask-inner-editor dd, .mask-inner-editor dt {
	margin: 5px 0;
}
.mask-inner-editor dt {
	font-weight: bold;
}
.mask-inner-editor .action-dd {
	width: 100px;
	float: left;
	display: block;
}
.mask-inner-editor .action-ss {
	width: 100px;
	float: left;
	margin-left: 20px;
	display: block;
}